# En este archivo siéntase libres de copiar y pegar todo lo necesario para
# ignorar archivos innecesarios según los frameworks.
# Si quieres agregar una instrucción al gitignore, sólo agrégala hasta el
# el final de este archivo:

# Todos los archivos .exe:
*.exe

# Carpeta en donde yo (ALEX) voy a guardar ciertas claves privadas:
Algorithms/Keys
denuncias/Keys

# INES de prueba:
Algorithms/INE/Images/aletz.jpeg
Algorithms/INE/Images/chisrra.jpeg
Algorithms/INE/Images/emilio.jpeg
Algorithms/INE/Images/aletz.jpeg
Algorithms/INE/Images/tonio.jpeg