# En este archivo siéntase libres de copiar y pegar todo lo necesario para
# ignorar archivos innecesarios según los frameworks.
# Si quieres agregar una instrucción al gitignore, sólo agrégala hasta el
# el final de este archivo:

# Todos los archivos .exe:
*.exe

# Carpeta en donde yo (ALEX) voy a guardar ciertas claves privadas:
Algorithms/Keys

# INE de Chisrra de prueba:
Algorithms/INE/Images/chisrra.jpeg
#Flutter:
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
